/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #f9f5ed;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}